.containerNome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 14vh;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random{
    background-color: inherit;
    border: 1px solid #000;
    padding: 8px 16px;
    border-radius: 5px;
}

.random:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.cercaNome{
    font-size: 24px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin: 10px;
    padding: 5px;

    color: #333;
    text-shadow: 1px 1px 5px #B3B3B3;
}

.inputNome{
    font-size: 14px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 10px;
    padding: 5px 10px;
    min-width: 250px;

    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px #DEDEDE;
}

.inputNome:hover{
    cursor:text;
    box-shadow: 0px 0px 10px #DEDEDE;
}