.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    padding-top: 70px;
}

.containerNome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cercaNome{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 20px;
    margin-top: 0;

    color: #333;
    text-shadow: 1px 1px 5px #B3B3B3;
}

.inputNome{
    font-size: 21px;
    font-weight: 100;
    
    width: 450px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;

    color: #333;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #DEDEDE;
}

.inputNome::placeholder{
    color: #C4C4C4;
}

.inputNome:hover{
    cursor:text;
    box-shadow: 1px 1px 10px #DEDEDE;
}