.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 20px 75px;
    
    background-color: #C4C4C4;
}



/*--------------- LOGO ---------------*/
.logo{
    display: flex;
    align-items: flex-end;
}

.logoC{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;

    margin: 0;

    animation: fadeIn 2s linear;
}

.logoW{
    font-family: Mrs Saint Delafield;
    font-size: 32px;
    font-weight: lighter;

    margin: 0;
    position: relative;
    top: 30px;
    transform: rotate(-15deg);

    animation: fadeIn 2s linear;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0.25;
    }

    50%{
        opacity: .5;
    }

    75%{
        opacity: 0.75;
    }

    100%{
        opacity: 1;
    }
}



/*--------------- BUTTONS ---------------*/
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    animation: fadeIn 2s linear;
}



/*--------------- SHOP & LIKE ---------------*/
.contLike, .contShop{
    height: 50px;
    width: 50px;

    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #919191;
}

.contLike:hover, .contShop:hover{
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    cursor: pointer;
}

.headerLike{
    height: 50px;
    width: 50px;

    background: url("../../../images/like.png") no-repeat;
    background-position: center;
}

.headerShop{
    height: 50px;
    width: 50px;

    background: url("../../../images/shop.png") no-repeat;
    background-position: center;
}



/*--------------- RANDOM ---------------*/
.random{
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #919191;

    background-color: #C4C4C4;

    width: 50px;
    height: 50px;

    font-family: Quicksand;
    font-size: 21px;
    font-weight: bold;
}

.randomIcon{
    width: 50px;
    height: 50px;
    background: url("../../../images/shuffle.png") no-repeat;
    background-position: center;
}

.random:hover{
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    border-radius: 10px;
    cursor: pointer;
}

.zero{
    display: none;
}