.navbar{
    height: 80px;

    background-color: #C4C4C4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.back{
    background:  url("../../../images/arrow.png") no-repeat;
    width: 50px;
    height: 30px;
    filter: drop-shadow(0 0 3px #333);
}

.back:hover{
    cursor: pointer;
}