.navbar{
    height: 80px;

    background-color: #C4C4C4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}



/*--------------- BACK ARROW ---------------*/
.back{
    background:  url("../../../images/arrow.png") no-repeat;
    width: 50px;
    height: 30px;
    filter: drop-shadow(0 0 3px #333);
}

.back:hover{
    cursor: pointer;
}



/*--------------- REFRESH ARROW ---------------*/
.refresh{
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #919191;

    background-color: #C4C4C4;

    width: 50px;
    height: 50px;

    font-family: Quicksand;
    font-size: 21px;
    font-weight: bold;
}

.refreshIcon{
    width: 50px;
    height: 50px;
    background: url("../../../images/refresh.png") no-repeat;
    background-position: center;
}

.refresh:hover{
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    border-radius: 10px;
    cursor: pointer;
}



/*--------------- TO BUY COUNTER ---------------*/
.toBuy{
    width: 20px;
    height: 20px;
    text-align: center;
    color: #333;

    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    border: 1px solid #333;
    box-shadow: 1px 1px 3px #919191;
    border-radius: 50%;

    position: relative;
    left: 40px;
    top:-10px;
}