body {
  margin: 0;

  background-color: #ECECEC;

  font-family: Quicksand, Mrs Saint Delafield;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../Quicksand/Quicksand-VariableFont_wght.ttf");
  src: local('Quicksand') format('truetype');
}

@font-face {
  font-family: 'Mrs Saint Delafield';
  src: url("../Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf");
  src: local('Mrs Saint Delafield') format('truetype');
}