/* ---------------BACKGROUND--------------- */
.drink{
    display: flex;
    align-items: flex-start;
    gap: 100px;

    background-color: #ECECEC;
    color: #333;

    padding: 50px 30px;
}



/* ---------------CARD DRINK--------------- */
.cardSingolo{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 20px;
    border: 1px solid #333;
    background-color: #fffffc;
    background-image: linear-gradient(-315deg, #fffffc 0%, #beb7a4 74%);
    box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.25);
    position: relative;
}

.imgSingolo{
    width: 530px;
    height: 550px;

    border-radius: 20px;
}

/* --------------- TITOLO, CATEGORIA, BICCHIERE --------------- */
.nomeSingolo{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.altro{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    align-items: flex-start;
    gap: 20px;
}

.categoriaSingolo, .bicchiereSingolo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.bicchiereSingolo{
    margin-bottom: 60px;
}

.categoria, .bicchiere{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.cat, .bicch{
    font-size: 32px;
    font-weight: lighter;
    margin: 0;
}

/* --------------- LIKE DRINK --------------- */
.contLikeDrink{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #ECECEC;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.25);
    position: absolute;
    bottom: -50px;
}

.contLikeDrink:hover{
    cursor: pointer;

    width: 110px;
    height: 110px;

    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.25);

    bottom: -55px;
}

.contLikeDrink:hover .likeDrink{
    width: 110px;
    height: 110px;
}

.likeDrink{
    width: 100px;
    height: 100px;
    background: url("../../../images/bigLike.png") no-repeat;
    background-position: center;
}




/* ---------------INGREDIENTI E PREPARAZIONE--------------- */
.ingr, .prep{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 20px;
}

.ingr{
    margin-top: 80px;
}

.preparazione{
    font-size: 32px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: -1px;
    line-height: 43px;
    word-spacing: 2px;
}

/* --------------- LINGUE --------------- */
.lingue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100px;
}

.italiano{
    width: 25px;
    height: 25px;
    background: url("../../../images/italiano.jpg");
    background-position: center;
    background-size: cover;

    box-shadow: 0 0 10px #000;
    border-radius: 50%;
}

.inglese{
    width: 25px;
    height: 25px;
    background: url("../../../images/inglese.jpg");
    background-position: center;
    background-size: cover;

    box-shadow: 0 0 10px #000;
    border-radius: 50%;
}

.tedesco{
    width: 25px;
    height: 25px;
    background: url("../../../images/tedesco.jpg");
    background-position: center;
    background-size: cover;

    box-shadow: 0 0 10px #000;
    border-radius: 50%;
}

.italiano:hover, .tedesco:hover, .inglese:hover{
    cursor: pointer;
}

.disable{
    opacity: 0.5;
    box-shadow: 1px 1px 10px #000;
}



.listaIngr{
    font-size: 21px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}

.misure{
    padding-left: 15px;
    font-style: italic;
    font-weight: 900;
    opacity: 0.4;
}



/* li */
.ingrediente{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 80px;
    width: 280px;
    
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #E5E5E5;
    
    background-color: #ECECEC;
}



/* card */
.tilt{
    display: inline-block;
}

.overlay{
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    background-size: cover;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    height: 340px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgIngr{
    width: 120px;
    height: auto;
    filter: drop-shadow(3px 3px 10px #666);
}

.titoloIngr{
    font-size: 24px;
    margin: 12px auto;
}



/* button */
.aggiungi{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0;

    border-radius: 50%;
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);

    box-shadow: 0 0 5px #AAA;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 40px;
}

.aggiungi:hover{
    box-shadow: 1px 1px 10px #777;
    cursor: pointer;
}

.imgAggiungi{
    width: 40px;
    height: 40px;

    background: url("../../../images/shop.png") no-repeat;
    background-position: center;
}

.imgAggiungi:hover{
    cursor: pointer;
}